<div class="mainBody">
    <div class="bodyContent">
        <p style="margin-bottom: 10px">New Games & Accessories</p>
        <h1 class="staticH1">Monthly packages.</h1>
        <h1 class="staticH1">Excitement delivered daily.</h1>
        <section>
            <p class="staticParagraph" style="margin-top: 30px">What's the best way to shop for the latest video games</p>
            <p class="staticParagraph">and peripherals? How about never shopping at all?</p>
            <p class="staticParagraph" style="margin-bottom: 20px">You'll get new stuff on your doorstep - every month.</p>
        </section>
        <div>
            <button class="getStartedButton">
                Get Started
            </button>
        </div>
    </div>
</div>

